html {
    box-sizing: border-box;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}
h1,
h2,
h3,
p {
    margin: 0;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* outline: 2px solid tomato;  */

} 
header {
    border-bottom: 1px solid #EEEEEE;
}
.first {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}  
.list {
    display: flex;
    margin-left: auto;

}
.list .contact { 
    margin-right: 50px;
}
.list .contact:last-child{
    margin-left: 0;
}
.list-item {
    display: flex;
}
.list-item .item{
    margin-right: 40px;
}
.list-item .item:last-child{
    margin-right: 0;
}

body {
    color: #212121;
    font-family: 'Roboto';
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-inline-start: 0px;
}
h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web {
    color: #2196F3
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.03em;

    margin-right: 93px;

}
.logo:hover , 
.logo:focus {
    color: #2196F3
}
.first-nav {
    display: block;
    
    margin-top: 32px;
    margin-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    color: #212121;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}
.first-nav:hover , 
.first-nav:focus {
    color: #2196F3
}
.active {
    color: #2196F3;
}
.studio {
    color: #2196F3;
}
.head {
    color: #757575;
}

.hero {
    background-color: #2F303A;
    color: #FFFFFF;
    padding-top: 200px;
    padding-bottom: 210px;

}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    
}
.hero-button {  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 30px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: transparent;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.list-flex {
    display: flex;
    justify-content:space-between; 
}

.benefits {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-nav {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; 
    width:270px;

}
.benefits-list {
    margin-right: 30px;
}
.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}


.activity {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

.activity-title { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
}
.activity-list {
    display: flex;
    margin-left: 0;
    
        
}
.activity-img {
    margin-right: 30px;
    padding-left: 0px;
}
.activity-img:last-child {
    margin-right:0 ;
}
.staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
    color: #212121;
}
.staff-menu {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.staff-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.staff-div {
    padding-top: 30px;
}
.staff-list {
    display: flex;
}
.staff-img {
    margin-right: 30px;

}
.staff-img:last-child {
    margin-right: 0;
}
.staff-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.foot {
    background-color: #2F303A;
    color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.logo-second {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: #FFFFFF;

    display: inline-block;
}
.logo-second:hover,
.logo-second:focus {
    
    color: #2196F3
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    margin-top: 20px;

}
.mail {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: inline-block;
    margin-top: 9px;
}
.tel {
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
   text-decoration: none;
   display: inline-block;
   margin-top: 9px;
}

.button { 
    font-family: inherit;

}
.button-first {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;
    
    width: 73px;
    border: transparent;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 56px;
}
            
.button-first:focus,
.button-first:hover {
    text-decoration: underline;
    background: #2196F3;
    color: #FFFFFF ;
    text-decoration: none;
}
.button:focus,
.button:hover {
    text-decoration: underline;
    background: #2196F3;
    color: #FFFFFF ;
    text-decoration: none;
}
.menu {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
    margin-bottom: 4px;
}
.menu-nav{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: #757575;
}
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;
    
    width: 128px;
    border: transparent;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 56px;
}
.examples {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-button {
    display: flex;
    justify-content: center;
}
.example-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.example-img {
    margin-bottom: 30px;
}
.example-img:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.menu-border {
    border-left: 1px solid #EEEEEE;
    border-right: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}


.contact:last-child {
    margin-right: 0;
}